<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%t] %level %c{5} - %msg%n</pattern>
    </encoder>
  </appender>
 
  <root>
    <level value="WARN" />
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="nl.aerius">
    <level value="INFO" />
  </logger>
</configuration>
