<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="File" value="aerius-taskmanager.log"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="MaxFileSize" value="10MB"/>
        <encoder>
          <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="java.security">
        <level value="ERROR"/>
    </logger>
    <logger name="nl.overheid.aerius">
        <level value="INFO"/>
    </logger>
    <root>
        <level value="TRACE"/>
        <appender-ref ref="INFO"/>
    </root>
</configuration>